body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f19f;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #e74c3c;
    text-align: center;
    margin-top: 20px;
}

.pizza {
    background: rgba(222, 236, 17, 0.692);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px left;
    max-width: 300px;
    text-align: auto;
}

.pizzas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.pizza {
  text-align: center;
}

.pizza img {
  width: 100%;
  border-radius: 10px;
}

.pizza p {
  margin-top: 10px;
}

